<h3>Welcome to your daily burpee challenge</h3>
<br />

<% @activities.each do |activity| %>
  <div class="card col-3 offset-1">
    <h5><%= activity.date %></h5>
    <p><b>amount:</b> <%= activity.amount %></p>
    <p><b>notes:</b> <%= activity.note %></p>
  </div>
<% end %>